h1 {
    color:darkturquoise;
    font-size: 70pt;
}
h2 {
    color:blue;
    font-size:40pt;
}
h3 {
    color:lightseagreen;
    font-size:30pt;
    
}
p:first-of-type:first-letter{
    font-size:75px;
    font-family:serif;
    line-height: .8em;
    padding-right: 8px;
    float: left;
    
    
}
ol li{
    font-style: italic;
    color:aqua;
    font-size:15pt;
}

.my-outer-section {
    border: 30px solid black;
    
    
}

    
.my-outer-section section {
    background: lightcoral;
    padding: 40px;
    margin:29px;
    display: flex
}

nav ul{
    list-style:none;
    margin: 0;
    padding:0;
    display:flex;
    
}



nav ul li {
    background:skyblue;
    padding: 5px;
    margin:10px;
    color:white;  
    
    
}






