h1 {
    color: peru;
    text-align: center;
    font size: 50pt;
    border-bottom: 2px solid peru;
}

h2 {
    color: peru;
}

ul li {
    font-style: italic;
}

ol li {
    color: blue;
}

h3 {
    color: peru;
}

section {
    border: 5px dotted Peru;
}

.Bob {
    border: 5px solid peru;
    padding: 30px;
    margin: 30px;
    width: 200px;
}

.Steve {
    border: 5px dotted Orchid;
    background: white;
    padding: 30px;
    margin: 30px;
    width: 200px;
}

.Animals {
    padding: 15px;
    display: flex;
}
nav ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
}

nav ul li{
    list-style:none;
    margin: 5px;
    padding: 10px;
    background: white;
    
}

video {
    border: 5px solid peru;
}

img {
    border: 5px solid peru;
    
}

