h1 {
    color: green;
    text-align: center;
    border: 2px dashed green;
    background:honeydew;
}
p:first-of-type:first-letter {
    font-size: 50px;
    font-family: serif;
    line-height: .6em;
    padding-right: 8px;
    float: left;
}
p {
    border: 2px dashed green;
    padding: 5px;
    background: honeydew;
    color: green;
}
.page2{
    border: 2px dashed green;
    padding: 5px;
    background: honeydew;
}
.page1{
    border: 2px dashed green;
    padding: 5px;
    background: honeydew;
}
nav {
    display: flex;
}
.link{
    border: dashed green;
    
}
