h1 {
    color: blue;
text-align: center;
font-size:30pt;
border-bottom: 2px solid pink;
}
    
h2 {
    color: deeppink;
}

ul li {
    font-style: italic;
    border-box: 2px solid pink;
}
ol li {
    color: blue;
}
.pink {border-bottom: 2px blue;
}
