h1 {
    color: Coral;
    font-size: 50px;
border-bottom:3px solid purple;
text: alignment-adjust center;
}
h2 {
     color:green yellow;
}

ul li {
       font-style:italic;
}       
    
 ol li {     
    color:blue;
}

.my-outer-section {
    border: 15px solid blue;
    
}

.my-outer-section section {
    background-color: lime;
    padding: 15px;
    margin: 20px
}

nav ul {
    list-style:none;
    margin:0;
    padding:0;
    display: flex;
    
}     
    
nav ul li {
    background: blanchedalmond;
    padding: 5px; 
    margin: 10px;
}

nav ul li a {
    color: thistle
    
    
}

.p1 {
    transition: 1s;
    color:plum; 
} 
 .p1:hover {
     color:gray;
    translate: scale (1.2) rotate(15deg) ;
    box-shadow: 17px 17px 17px gray ;   
}




